<mat-accordion style>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Youtube video download
      </mat-panel-title>
      <mat-panel-description>
       paste youtube video url and download
      </mat-panel-description>
    </mat-expansion-panel-header>
   <app-youtube-downloader></app-youtube-downloader>
  </mat-expansion-panel>
  <!--twitter video downloader-->
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        twitter video download
      </mat-panel-title>
      <mat-panel-description>
       paste twitter url and download
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-twitter-downloader></app-twitter-downloader>
  </mat-expansion-panel>
</mat-accordion>

